.jumbotron {
    background-color: #e9ecef;
    padding: 2rem;
}

.card {
    margin-bottom: 20px;
    height: 500px;
    width: 500px;
    display: flex;
}


footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
}

